<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>David Wilson - Robot Movement</title>
	
	<meta name="author" content="David Wilson">
	<meta name="date" content="November 2018">
	<meta name="project" content="Robot Movement: Code challenge for IOOF">

	<!-- styles -->
	<link rel="stylesheet" href="styles/style.css">
	<link rel="stylesheet" href="libraries/bootstrap-4.0.0/bootstrap.min.css">

	<!-- libraries -->
	<script src="libraries/jquery-3.3.1/jquery-3.3.1.min.js"></script>
	<script src="libraries/bootstrap-4.0.0/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>

	<!-- scripts -->
	<script async src="scripts/command_listener.js"></script>
	<script async src="scripts/validate.js"></script>
	<script async src="scripts/robotCommands_test.js"></script>
	<script async src="scripts/robotCommands.js"></script>
	<script src="scripts/app_settings.js"></script>
	<script src="scripts/vueComponents.js"></script>
	<script src="scripts/robot.js"></script>
	<script defer src="scripts/viewModels.js"></script>
</head>

<body>
	<div class="container">
		<div class="container-fluid">
			<h1 class="title">David Wilson - Robot Movement</h1>
			<h4>IOOF Code Challenge November 2018</h4>
		</div>
		<div class="row">
			<!-- menu buttons -->
			<div id="menu" class="col-2">
				<div class="btn-group-vertical">
					<menu-button v-bind:name="item.buttonName" v-bind:click="item.click" v-for="item in buttons"></menu-button>
				</div>
			</div>
			<main class="col-6">
				<!-- grid -->
				<div id="grid">
					<span v-for="y in rowOrder" >
						<grid-cell 
							v-for="x in columnOrder"
							v-bind:grid_x="x"
							v-bind:grid_y="y"
						></grid-cell>
					</span>
				</div>
				<!-- command input -->
				<div class="input-group input-group-lg mb-3" style="padding-top: 20px;">
					<div class="input-group-prepend">
						<span class="input-group-text">Robot Command:</span>
					</div>
					<input id = "commandInput" type="text" class="form-control" placeholder="eg Place 0,0,North">
				</div>
			</main>
				<!-- command history -->
			<div id="commandHistory" class="col-4">
				<ul class="list-group">
					<li v-for="item in command_history" class="list-group-item">
						{{ item.command }}<span class="commandErrorMessage"> {{ item.message }} </span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- help display -->
	<div class="modal fade" id="commandsModal" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Robot Commands</h5>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead class="thead-light">
							<tr>
								<th scope="col">Command</th>
								<th scope="col">Examples</th>
								<th scope="col">Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Place</th>
								<td class="text-nowrap">Place 0,0,north</td>
								<td>Place the robot on the grid at position 0,0 facing north.</td>
							</tr><tr>
								<th>Move</th>
								<td class="text-nowrap">Move<br>Move forwards,4<br>Move backwards,3<br>Move slide-left,1</td>
								<td>Move the Robot. Defaults to one space forwards.</td>
							</tr><tr>
								<th>Left</th>
								<td class="text-nowrap">Left</td>
								<td>Turn the robot left.</td>
							</tr><tr>
								<th>Right</th>
								<td class="text-nowrap">Right</td>
								<td>Display a report of the robots current position and orientation.</td>
							</tr><tr>
								<th>UTurn</th>
								<td class="text-nowrap">UTurn</td>
								<td>Turn the robot around to face the opposite direction.</td>
							</tr><tr>
								<th>Report</th>
								<td class="text-nowrap">report</td>
								<td>Display a report of the robots current position and orientation.</td>
							</tr><tr>
								<th>Reset</th>
								<td class="text-nowrap">Reset</td>
								<td>Remove the robot from the grid.</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>