/* ================================================================================
// Author: David Wilson
// Date: November: 2018
// Project: IOOF Code Challenge
// --------------------------------------------------------------------------------
// style.css | Purpose:
// Most styles are done using bootstrap. Some custom styles were required here.
// ================================================================================*/
#leftMenu {
	text-align: center;
}

.cell {
	border: 1px solid #ddd;
	display: inline-block;
	margin: 1px;
	vertical-align: middle;
}

.coordinates {
	position: absolute;
	color:grey;
}

.commandErrorMessage {
	color: red;
	font-style: italic;
}

.coordinates {
    position: absolute;
}
